// Listing
//
// Markup: listing.html
//
// Style guide: listing


.listing-rows {
	display: flex;
	.left-col {
		width: 200px;
    	height: 200px;
    	background: gray;
    	display: flex;
    	margin-right: 15px;
	}
	.right-col {

	}
}

.category {
	color: $red;
	text-transform: uppercase;
}
