// Listing
//
// Markup: listing.html
//
// Style guide: listing


.listing-rows {
  display: flex;

  .left-col {
    background: $gray;
    display: flex;
    height: 200px;
    margin-right: 15px;
    width: 200px;
  }
}

.category {
  color: $red;
  text-transform: uppercase;
}
