{% if content is not empty %}
  <div class="main-callout-wrapper">
    <div class="field--name-field-title">{{ content.field_title }}</div>
    <div class="field--name-field-linkcta"><a href="">{{ content.field_linkcta }}</a></div>
  </div>
{% endif %}
