// Button
//
// Markup: button.html
//
// Style guide: button

.btn {
  border: 0;
  border-radius: 4px;
  color: $white;
  display: inline-block;
  outline: none;
  padding: 14px;
  text-decoration: none;

  &:active {
    box-shadow: 0 0 3px $black;
  }

  &.button-red {
    background: $red;

    &:hover {
      background: $drak-red;
    }
  }

  &.button-yellow {
    background: $yellow;

    &:hover {
      background: $drak-yellow;
    }
  }
}
