// Button
//
// Markup: button.html
//
// Hover  -  To see hover effect hover on button.
// Active  - To see active or click effect click on button.
//
// Style guide: button

.btn {
  border: 0;
  border-radius: 4px;
  color: $white;
  display: inline-block;
  font-size: 14px;
  outline: none;
  padding: 10px 15px;
  text-decoration: none;

  &:active {
    box-shadow: 0 0 3px $black;
  }

  &.button-red {
    background: $red;

    &:hover {
      background: $dark-red;
    }
  }

  &.button-yellow {
    background: $yellow;

    &:hover {
      background: $dark-yellow;
    }
  }

  &.button-blue {
    background: $blue;

    &:hover {
      background: $dark-blue;
    }
  }
}
