<div class="btn-wrapper-kss row">
    <div class="default-styling-kss col-md-12">
        <h4>Default State</h4>
        <button class="btn button-red">Button</button>
        <button class="btn button-yellow ">Button 567rt</button>
        <button class="btn button-blue">Button 123</button>
    </div>


    <div class="hover-styling-kss col-md-12 ">
        <h4>Hover state</h4>
        <button class="btn button-red">Button</button>
        <button class="btn button-yellow ">Button</button>
        <button class="btn button-blue ">Button</button>
    </div>

    <div class="active-styling-kss col-md-12 ">
        <h4>Active State</h4>
        <button class="btn button-red ">Button</button>
        <button class="btn button-yellow ">Button</button>
        <button class="btn button-blue ">Button</button>
    </div>
</div>