// Typography
//
// Markup: ../../Components/templates/typography.html
//
// Style guide: Typography

// Desktop
//
// <b><i> Either use heading tag or above classes for titles.</i></b>
//
// h1,.h1-heading - Font-Size 45px; Font-Family:Roboto Black; Font-Weight: 900;</br>
// h2,.h2-heading - Font-Size 38px; Font-Family:Roboto Black; Font-Weight: 900;</br>
// h3,.h3-heading - Font-Size 24px; Font-Family:Roboto Bold; Font-Weight: 400; Text-Transform: Uppercase;</br>
// h4,.h4-heading - Font-Size 20px; Font-Family:Roboto Regular; Font-Weight: 400;</br>
// h5,.h5-heading - Font-Size 18px; Font-Family:Roboto Bold; Font-Weight: 700;Text-Transform: Uppercase;</br>
// .link - Color: #3b38be; Font-family: OpenSans, arial; Font-size: 14px; Font-weight: 400; Text-decoration: none; </br>
// p -  Font-Size: 18px; Font-Weight: 300;</br>
//
// Style guide: Typography.1

// Tablet
//
//<b><i> Either use heading tag or above classes for titles.</i></b>
//
// h1,.h1-heading - Font-Size 37px; Font-Family:Roboto Black; Font-Weight: 900;</br>
// h2,.h2-heading - Font-Size 30px; Font-Family:Roboto Black; Font-Weight: 900;</br>
// h3,.h3-heading - Font-Size 20px; Font-Family:Roboto Bold; Font-Weight: 400; Text-Transform: Uppercase;</br>
// h4,.h4-heading - Font-Size 18px; Font-Family:Roboto Regular; Font-Weight: 400;</br>
// h5,.h5-heading - Font-Size 16px; Font-Family:Roboto Bold; Font-Weight: 700;Text-Transform: Uppercase;</br>
// .link -  Color: #3b38be; Font-family: OpenSans, arial; Font-size: 14px; Font-weight: 400; Text-decoration: none; </br>
// p -  Font-Size: 16px; Font-Weight: 300;</br>
//
// Style guide: Typography.2

// Mobile
//
//<b><i> Either use heading tag or above classes for titles.</i></b>
//
// h1,.h1-heading - Font-Size 29px; Font-Family:Roboto Black; Font-Weight: 900;
// h2,.h2-heading - Font-Size 22px; Font-Family:Roboto Black; Font-Weight: 900;
// h3,.h3-heading - Font-Size 18px; Font-Family:Roboto Bold; Font-Weight: 900; Text-Transform: Uppercase
// h4,.h4-heading - Font-Size 16px; Font-Family:Roboto Regular; Font-Weight: 400;
// h5,.h5-heading - Font-Size 14px; Font-Family:Roboto Bold; Font-Weight: 700;Text-Transform: Uppercase;
// .link - Color: #3b38be; Font-family: OpenSans, arial; Font-size: 14px; Font-weight: 400; Text-decoration: none; </br>
// p -  Font-Size: 14px; Font-Weight: 300;
//
// Styleguide Typography.3

h1,
.h1 {
  font-family: $roboto;
  font-size: 45px;
  font-weight: $fblack;
  line-height: 49px;
}

h2,
.h2 {
  font-family: $roboto;
  font-size: 38px;
  font-weight: $fblack;
  line-height: 42px;
}

h3,
.h3 {
  font-family: $roboto;
  font-size: 24px;
  font-weight: $bold;
  text-transform: uppercase;
}

h4,
.h4,
.intro-text {
  font-family: $roboto;
  font-size: 20px;
  font-weight: $regular;
  line-height: 26px;
}

h5,
.h5 {
  font-family: $roboto;
  font-size: 18px;
  font-weight: $bold;
  line-height: 21px;
  text-transform: uppercase;
}

p {
  font-family: $roboto;
  font-size: 18px;
  font-weight: $light;
  line-height: 26px;
}

a,
.link {
  color: $link;
  font-family: $opensans;
  font-size: 14px;
  font-weight: $regular;
  text-decoration: none;
}
