// Typography
//
// Markup: typography.html
//
// Style guide: Typography

// Class Used to Headings And for link
//
// `.h1 , .h2, .h3, .h4, .h5, .intro-text` are all heading classes if you want to use style of heading on any tag use those classes.
//
// H1, .h1 - Font-Size 45px; Font-Family:Roboto Black;Font-Weight: 900;
// H2, .h2 - Font-Size 38px; Font-Family:Roboto Black;Font-Weight: 900;
// H3, .h3 - Font-Size 24px; Font-Family:Roboto Bold;;Font-Weight: 900; Text-Transform: Uppercase
// H4, .h4,.intro-text - Font-Size 20px; Font-Family:Roboto Regular; Font-Weight: 400;
// H5, .h5 - Font-Size 18px; Font-Family:Roboto Bold; Font-Weight: 400;Text-Transform: Uppercase;
// .link - This class is used for link
// p -  Font-Size: 18px; Font-Weight: 300;
//
// Styleguide Typography.1

h1,
.h1 {
  font-family: $roboto;
  font-size: 45px;
  font-weight: $fblack;
  line-height: 49px;
}

h2,
.h2 {
  font-family: $roboto;
  font-size: 38px;
  font-weight: $fblack;
  line-height: 42px;
}

h3,
.h3 {
  font-family: $roboto;
  font-size: 24px;
  font-weight: $bold;
  text-transform: uppercase;
}

h4,
.h4,
.intro-text {
  font-family: $roboto;
  font-size: 20px;
  font-weight: $regular;
  line-height: 26px;
}

h5,
.h5 {
  font-family: $roboto;
  font-size: 18px;
  font-weight: $bold;
  line-height: 21px;
  text-transform: uppercase;
}

p {
  font-family: $roboto;
  font-size: 18px;
  font-weight: $light;
  line-height: 26px;
}

a,
.link {
  color: $link;
  font-family: $opensans;
  font-size: 14px;
  font-weight: $regular;
  text-decoration: none;
}
