{% if content is not empty %}
  <div class="main-callout-wrapper">
    <div class="field--name-field-title">{{ content.field_title }}</div>
    <div class="field--name-field-linkcta">{{ content.field_linkcta }}</div>
  </div>
{% endif %}
