// Variables
//
//<div class="row">
//<hr></hr>
// <span><hr class="one"></hr>
// $white: #fff;</span>
// <span><hr class="two"></hr>
// $black: #000;</span>
// <span><hr class="three"></hr>
// $red: #982329;</span>
// <span><hr class="four"></hr>
// $gray: #808080;</span>
// <span><hr class="five"></hr>
// $dark-red: #8d2725;</span>
// <span><hr class="six"></hr>
// $yellow: #ff8f0d;</span>
// <span><hr class="seven"></hr>
// $dark-yellow: #d77300; </span>
// <span><hr class="eight"></hr>
// $blue: #02abea; </span>
// <span><hr class="nine"></hr>
// $dark-blue: #0379a5; </span>
// <span><hr class="ten"></hr>
// $link: #3b38be; </span>
// <span><hr class="eleven"></hr>
// $primary-color: #003768; </span>
// <span><hr class="twelve"></hr>
// $disabled-element: #acacac; </span>
// <span><hr class="thirteen"></hr>
// $text-divider: #7d7d7d;</span>
// <span><hr class="fourteen"></hr>
// $ui-element: #464646;</span>
// </div>
//
// styleguide 1

//color variable
$white: #fff;
$black: #000;
$red: #982329;
$gray: #808080;
$dark-red: #8d2725;
$yellow: #ff8f0d;
$dark-yellow: #d77300;
$blue: #02abea;
$dark-blue: #0379a5;
$link: #3b38be;
$primary-color: #003768;
$disabled-element: #acacac;
$text-divider: #7d7d7d;
$ui-element: #464646;
