// Variables
//
//<div class="row">
//<hr></hr>
// <span><hr class="one"></hr>
// $white: #fff;</span>
// <span><hr class="two"></hr>
// $black: #000;</br>
// (For Main Text)
// </span>
//
// <span><hr class="three"></hr>
// $red: #b11116;</br>
// (For Brand Color)
// </span>
// <span><hr class="five"></hr>
// $red-101: #800e11;</span>
// <span><hr class="fteen"></hr>
// $red-102: #811116;</span>
//
// <span><hr class="six"></hr>
// $yellow: #ff8f0d;</span>
// <span><hr class="seven"></hr>
// $yellow-101: #d77300; </span>
//
// <span><hr class="ten"></hr>
// $link: #3b38be;</br>
// (For Link Color)
// </span>
//
// <span><hr class="eight"></hr>
// $blue: #02abea;</br>
// (Brand Highlight Color)
// </span>
// <span><hr class="nine"></hr>
// $blue-101: #0379a5; </span>
// <span><hr class="eleven"></hr>
// $brand-primary-color: #003768;</br>
// (Primary Brand Color)
// </span>
//
// <span><hr class="four"></hr>
// $gray-bg: #ebebeb;</br>
// (For Background)
// </span>
// <span><hr class="twelve"></hr>
// $gray-disabled-ele: #acacac;</br>
// (For Disabled Elements)
// </span>
// <span><hr class="thirteen"></hr>
// $gray-divider: #7d7d7d;</br>
// (For Text and Dividers)
// </span>
// <span><hr class="fourteen"></hr>
// $gray-ul-ele: #464646;</br>
// (For UI Elements)
// </span>
// </div>
//
// styleguide variable

//color variables
$white: #fff;
$black: #000;

$red: #b11116;
$red-101: #800e11;
$red-102: #811116;

$yellow: #ff8f0d;
$yellow-101: #d77300;

$blue: #02abea;
$blue-101: #0379a5;
$brand-primary-color: #003768;

$link: #3b38be;

$gray-bg: #ebebeb;
$gray-disabled-ele: #acacac;
$gray-divider: #7d7d7d;
$gray-ul-ele: #464646;



// Fonts variables
//
//<span>$roboto: Roboto , helvetica;</span></br>
//<span>$opensans: OpenSans, arial;</span></br>
//
//styleguide variable.1

$roboto: Roboto , helvetica;
$opensans: OpenSans, arial;

$bold: 700;
$light: 300;
$regular: 400;
$fblack: 900;
