// Variables
//
// <h5> variables name and color code</h5><br>
// $white:   #ffffff;<br>
// $black:   #000000;<br>
// $red:  #982329;<br>
//
// Style guide: variable


//color variable
$white: #ffffff;
$black: #000000;
$red: #982329;
$gray: #808080;
