<div class="custom-newsletter">
  <span class="title"> MORNING ROUNDUP </span>
  <span class="description"> Vivamus suscipit tortor eget felis porttitor volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span>
  <div class="main-wrap">
    <input type="{{ type }}">
    <button type="{{ submit }}" name="button">submit</button>
  </div>
</div>
