// kss style for color
@import "variable/variable";

.kss-description {
   hr {
    height: 20px !important;
    font-weight: bold;
    margin-bottom: 5px !important;
    &.one {
      background: $white;
    }
    &.two {
      background: $black;
    }
    &.three {
      background: $red;
    }
    &.four {
      background: $gray;
    }
    &.five {
      background: $drak-red;
    }
    &.six {
      background: $yellow;
    }
    &.seven {
      background: $drak-yellow;
    }
  }
}
#kss-node {
  .kss-parameters__name {
    font-size: 18px;
    font-weight: bold;
  }

 .kss-description {

    code {
      border: 1px solid #808080;
      display: inline-block;
      margin: 10px 0;
      padding: 10px;
    }
  }
}
