// kss style for color
@import 'variable/variable';

.kss-description {

  hr {
    font-weight: bold;
    height: 20px;
    margin-bottom: 5px;
    border: 1px solid $gray;
    &.one {
      background: $white;
    }

    &.two {
      background: $black;
    }

    &.three {
      background: $red;
    }

    &.four {
      background: $gray;
    }

    &.five {
      background: $dark-red;
    }

    &.six {
      background: $yellow;
    }

    &.seven {
      background: $dark-yellow;
    }

    &.eight {
      background: $blue;
    }

    &.nine {
      background: $dark-blue;
    }

    &.ten {
      background: $link;
    }

    &.eleven {
      background: $primary-color;
    }

    &.twelve {
      background: $disabled-element;
    }

    &.thirteen {
      background: $text-divider;
    }

    &.fourteen {
      background: $ui-element;
    }
  }
}

.kss-main {

  .kss-parameters__name {
    font-size: 18px;
    font-weight: bold;
  }

  .kss-description {

    code {
      border: 1px solid $gray;
      display: inline-block;
      margin: 10px 0;
      padding: 10px;
    }

    .row {
      span {
        flex: 0 0 32%;
        margin: 0 .5%;
      }
    }
  }
}
