// kss style for color
@import 'variable/variable';

.kss-description {

  hr {
    border: 1px solid $gray-bg;
    font-weight: bold;
    height: 40px;
    margin-bottom: 5px;

    &.one {
      background: $white;
    }

    &.two {
      background: $black;
    }

    &.three {
      background: $red;
    }

    &.four {
      background: $gray-bg;
    }

    &.five {
      background: $red-101;
    }

    &.six {
      background: $yellow;
    }

    &.seven {
      background: $yellow-101;
    }

    &.eight {
      background: $blue;
    }

    &.nine {
      background: $blue-101;
    }

    &.ten {
      background: $link;
    }

    &.eleven {
      background: $brand-primary-color;
    }

    &.twelve {
      background: $gray-disabled-ele;
    }

    &.thirteen {
      background: $gray-divider;
    }

    &.fourteen {
      background: $gray-ul-ele;
    }

    &.fteen {
      background: $red-102;
    }
  }
}

.kss-main {

  .kss-parameters__name {
    font-size: 18px;
    font-weight: bold;
  }

  .kss-description {

    code {
      border: 1px solid $gray-bg;
      display: inline-block;
      margin: 10px 0;
      padding: 10px;
    }

    .row {

      span {
        flex: 0 0 32%;
        margin: 0 .5%;
      }
    }
  }
}

.active-styling-kss {

  .btn {
    box-shadow: 0 0 3px $black;
  }
}

.hover-styling-kss {

  .button-red {
    background: $red-101;
  }

  .button-yellow {
    background: $yellow-101;
  }

  .button-blue {
    background: $blue-101;
  }
}

#kss-node {
  .kss-title__permalink {
    font-size: 24px;
  }
}

#kss-node .kss-title__ref {
display: none;
}